<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="js/myscript.js"></script>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl">
    <div class="container">
        <div class="jumbotron py-3">
            <h1 class="text-center">{{title}}</h1>
            <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea placeat quisquam quae, animi et assumenda totam voluptas deleniti officiis fugiat illo repellendus nemo doloribus ducimus ullam ex deserunt vero itaque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita natus, animi vero possimus soluta nostrum ducimus distinctio amet placeat. Tempora repellat aliquid fugiat molestias doloribus rem? Inventore voluptates illo magni.</p>
        </div>   
            
        
            <div class="card-deck text-center">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Total Confirmed Cases</div>
                    <div class="card-body">
                     <h3 class="card-text ">{{all_data.confirmed.value}} </h3> 
                    </div>
                  </div>

                  <div class="card text-white bg-success mb-3" >
                    <div class="card-header">Total Recovered Cases</div>
                    <div class="card-body">
                        <h3 class="card-text ">{{all_data.recovered.value}} </h3> 
                    </div>
                  </div>

                  <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Total Death Cases</div>
                    <div class="card-body">
                        <h3 class="card-text">{{all_data.deaths.value}} </h3> 
                    </div>
                  </div>
              </div>

              <div class="container border p-3 mt-4">
            <input type="text" class="form-control mb-3" placeholder="Enter country here" ng-model="c" ng-change="get_c_data()">
            
            <h3 class="text-center text-uppercase">{{c}}</h3>
            
            <div class="card-deck text-center" ng-if="c_data">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Total Confirmed Cases</div>
                    <div class="card-body">
                     <h3 class="card-text ">{{c_data.confirmed.value}} </h3> 
                    </div>
                  </div>

                  <div class="card text-white bg-success mb-3" >
                    <div class="card-header">Total Recovered Cases</div>
                    <div class="card-body">
                        <h3 class="card-text ">{{c_data.recovered.value}} </h3> 
                    </div>
                  </div>

                  <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Total Death Cases</div>
                    <div class="card-body">
                        <h3 class="card-text">{{c_data.deaths.value}} </h3> 
                    </div>
                  </div>
              </div>
</div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>